In [ ]:
# logica de programação

# 3 Analise: Fazer analise de Agua Boa-MT

# Tarefas:
# Baixar o banco de dados utilizando modelos usados na analise 2
# Separar a safra (19/20, 20/21 e 21/22) de agua boa-MT
# Gerar informações

In [1]:
import pandas as pd
import numpy as np

In [93]:
# Copiando o codigo da analise 1 do IBGE

#Importando a planilha Excel do IBGE
ibge= pd.read_excel('tabela1612.xlsx')
ibge.drop(ibge.loc[(ibge['Tabela 1612 - Área plantada, área colhida, quantidade produzida, rendimento médio e valor da produção das lavouras temporárias'] == 'MI') | (ibge['Tabela 1612 - Área plantada, área colhida, quantidade produzida, rendimento médio e valor da produção das lavouras temporárias'] == 'ME')].index, inplace=True)

display(ibge)

,"Tabela 1612 - Área plantada, área colhida, quantidade produzida, rendimento médio e valor da produção das lavouras temporárias",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Variável - Área plantada,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nível,"Brasil, Unidade da Federação, Município, Mesor...",Ano x Produto das lavouras temporárias,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2019,NaN,2020,NaN,2021,NaN
3,NaN,NaN,Soja (em grão),NaN,Soja (em grão),NaN,Soja (em grão),NaN
4,BR,Brasil,35944094,Hectares,37205462,Hectares,39185745,Hectares
...,...,...,...,...,...,...,...,...
5592,MU,Vicentinópolis (GO),20400,Hectares,21000,Hectares,24500,Hectares
5593,MU,Vila Boa (GO),250,Hectares,250,Hectares,1800,Hectares
5594,MU,Vila Propício (GO),16500,Hectares,16700,Hectares,22950,Hectares
5595,MU,Brasília (DF),75000,Hectares,74500,Hectares,80000,Hectares
6291,Fonte: IBGE - Produção Agrícola Municipal,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
# Renomeando o cabecalho e dropando linhas desnecessarias

new_columns = {'Unnamed: 1': 'Cidade', 
               'Unnamed: 2': '2019',
               'Unnamed: 3': 'Unidade de medida',
               'Unnamed: 4': '2020',
               'Unnamed: 5': 'Unidade de medida',
               'Unnamed: 6': '2021',
               'Unnamed: 7': 'Unidade de medida'}

area_plantada_ibge = ibge.rename(columns=new_columns)

area_plantada_ibge.head(35)

,"Tabela 1612 - Área plantada, área colhida, quantidade produzida, rendimento médio e valor da produção das lavouras temporárias",Cidade,2019,Unidade de medida,2020,Unidade de medida,2021,Unidade de medida
0,Variável - Área plantada,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nível,"Brasil, Unidade da Federação, Município, Mesor...",Ano x Produto das lavouras temporárias,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2019,NaN,2020,NaN,2021,NaN
3,NaN,NaN,Soja (em grão),NaN,Soja (em grão),NaN,Soja (em grão),NaN
4,BR,Brasil,35944094,Hectares,37205462,Hectares,39185745,Hectares
5,UF,Rondônia,344551,Hectares,392642,Hectares,400459,Hectares
6,UF,Acre,1660,Hectares,3280,Hectares,6185,Hectares
7,UF,Amazonas,2500,Hectares,2700,Hectares,3000,Hectares
8,UF,Roraima,39930,Hectares,49800,Hectares,57277,Hectares
9,UF,Pará,577764,Hectares,643267,Hectares,753781,Hectares
10,UF,Amapá,19476,Hectares,20300,Hectares,6715,Hectares
11,UF,Tocantins,905281,Hectares,962399,Hectares,1171308,Hectares
12,UF,Maranhão,977598,Hectares,960900,Hectares,1023541,Hectares
13,UF,Piauí,766044,Hectares,757978,Hectares,832063,Hectares
14,UF,Ceará,-,Hectares,450,Hectares,1414,Hectares
15,UF,Rio Grande do Norte,-,Hectares,-,Hectares,-,Hectares
16,UF,Paraíba,-,Hectares,-,Hectares,-,Hectares
17,UF,Pernambuco,-,Hectares,-,Hectares,300,Hectares
18,UF,Alagoas,3141,Hectares,1224,Hectares,3312,Hectares
19,UF,Sergipe,-,Hectares,-,Hectares,-,Hectares
20,UF,Bahia,1585842,Hectares,1622475,Hectares,1699965,Hectares
21,UF,Minas Gerais,1627741,Hectares,1695702,Hectares,1935260,Hectares
22,UF,Espírito Santo,-,Hectares,-,Hectares,-,Hectares
23,UF,Rio de Janeiro,-,Hectares,-,Hectares,-,Hectares
24,UF,Guanabara,...,Hectares,...,Hectares,...,Hectares
25,UF,São Paulo,1080541,Hectares,1132965,Hectares,1199351,Hectares
26,UF,Paraná,5418814,Hectares,5534843,Hectares,5521183,Hectares
27,UF,Santa Catarina,665548,Hectares,664795,Hectares,688980,Hectares
28,UF,Rio Grande do Sul,5843533,Hectares,5996371,Hectares,6107620,Hectares
29,UF,Mato Grosso do Sul,2882107,Hectares,3121522,Hectares,3377042,Hectares
30,UF,Mato Grosso,9724213,Hectares,9989649,Hectares,10461712,Hectares
31,UF,Goiás,3402810,Hectares,3577700,Hectares,3855277,Hectares
32,UF,Distrito Federal,75000,Hectares,74500,Hectares,80000,Hectares
33,MU,Alta Floresta D'Oeste (RO),450,Hectares,450,Hectares,1072,Hectares
34,MU,Ariquemes (RO),7893,Hectares,7782,Hectares,6979,Hectares

In [95]:
# não há necessidade dos dados da coluna 1,3,4 e 5 assim como das linhas até 32. Excluir.

area_plantada_ibge1 = area_plantada_ibge.drop(index=range(0,33), axis=0)
area_plantada_ibge1.drop(['2019', 'Unidade de medida','2020', 	
                          'Tabela 1612 - Área plantada, área colhida, quantidade produzida, rendimento médio e valor da produção das lavouras temporárias']
                         , axis=1 , inplace=True)
area_plantada_ibge1 = area_plantada_ibge.drop(index=6291, axis=0)

display(area_plantada_ibge1)

,"Tabela 1612 - Área plantada, área colhida, quantidade produzida, rendimento médio e valor da produção das lavouras temporárias",Cidade,2019,Unidade de medida,2020,Unidade de medida,2021,Unidade de medida
0,Variável - Área plantada,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nível,"Brasil, Unidade da Federação, Município, Mesor...",Ano x Produto das lavouras temporárias,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2019,NaN,2020,NaN,2021,NaN
3,NaN,NaN,Soja (em grão),NaN,Soja (em grão),NaN,Soja (em grão),NaN
4,BR,Brasil,35944094,Hectares,37205462,Hectares,39185745,Hectares
...,...,...,...,...,...,...,...,...
5591,MU,Vianópolis (GO),40000,Hectares,41000,Hectares,41000,Hectares
5592,MU,Vicentinópolis (GO),20400,Hectares,21000,Hectares,24500,Hectares
5593,MU,Vila Boa (GO),250,Hectares,250,Hectares,1800,Hectares
5594,MU,Vila Propício (GO),16500,Hectares,16700,Hectares,22950,Hectares
5595,MU,Brasília (DF),75000,Hectares,74500,Hectares,80000,Hectares

In [96]:
area_plantada_ibge1 = area_plantada_ibge.drop(index=range(0,33), axis=0)
area_plantada_ibge1.drop([ 'Unidade de medida', 	
                          'Tabela 1612 - Área plantada, área colhida, quantidade produzida, rendimento médio e valor da produção das lavouras temporárias']
                         , axis=1 , inplace=True)

display(area_plantada_ibge1)

                          Cidade   2019   2020   2021
33    Alta Floresta D'Oeste (RO)    450    450   1072
34                Ariquemes (RO)   7893   7782   6979
35                   Cabixi (RO)  24630  24950  27705
36                   Cacoal (RO)   1000   1000   2160
37               Cerejeiras (RO)  35190  36150  36430
...                          ...    ...    ...    ...
5592         Vicentinópolis (GO)  20400  21000  24500
5593               Vila Boa (GO)    250    250   1800
5594          Vila Propício (GO)  16500  16700  22950
5595               Brasília (DF)  75000  74500  80000
6291                         NaN    NaN    NaN    NaN

[5564 rows x 4 columns]

In [97]:
area_plantada_ibge1.drop(6291, inplace=True)

display(area_plantada_ibge1)

                          Cidade   2019   2020   2021
33    Alta Floresta D'Oeste (RO)    450    450   1072
34                Ariquemes (RO)   7893   7782   6979
35                   Cabixi (RO)  24630  24950  27705
36                   Cacoal (RO)   1000   1000   2160
37               Cerejeiras (RO)  35190  36150  36430
...                          ...    ...    ...    ...
5591             Vianópolis (GO)  40000  41000  41000
5592         Vicentinópolis (GO)  20400  21000  24500
5593               Vila Boa (GO)    250    250   1800
5594          Vila Propício (GO)  16500  16700  22950
5595               Brasília (DF)  75000  74500  80000

[5563 rows x 4 columns]

In [98]:
# Separar a cidade e o estado em duas colunas
area_plantada_ibge1[['Cidade', 'Estado']] = area_plantada_ibge1['Cidade'].str.split("(", expand=True)
area_plantada_ibge1['Sigla'] = area_plantada_ibge1['Estado'].str.extract(r'([A-Z]{2})')
area_plantada_ibge1['Estado'] = area_plantada_ibge1['Estado'].str.replace(r'\(|\)|[A-Z]{2}', '')
area_plantada_ibge1['Cidade'] = area_plantada_ibge1['Cidade'].str.strip()
area_plantada_ibge1['Estado'] = area_plantada_ibge1['Estado'].str.strip()

display(area_plantada_ibge1)

C:\Users\PEDRO\AppData\Local\Temp\ipykernel_3780\3999825676.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  area_plantada_ibge1['Estado'] = area_plantada_ibge1['Estado'].str.replace(r'\(|\)|[A-Z]{2}', '')

                     Cidade   2019   2020   2021 Estado Sigla
33    Alta Floresta D'Oeste    450    450   1072           RO
34                Ariquemes   7893   7782   6979           RO
35                   Cabixi  24630  24950  27705           RO
36                   Cacoal   1000   1000   2160           RO
37               Cerejeiras  35190  36150  36430           RO
...                     ...    ...    ...    ...    ...   ...
5591             Vianópolis  40000  41000  41000           GO
5592         Vicentinópolis  20400  21000  24500           GO
5593               Vila Boa    250    250   1800           GO
5594          Vila Propício  16500  16700  22950           GO
5595               Brasília  75000  74500  80000           DF

[5563 rows x 6 columns]

In [99]:
area_plantada_ibge1.loc[area_plantada_ibge1['Cidade'] == 'Água Boa']
display(area_plantada_ibge1)

                     Cidade   2019   2020   2021 Estado Sigla
33    Alta Floresta D'Oeste    450    450   1072           RO
34                Ariquemes   7893   7782   6979           RO
35                   Cabixi  24630  24950  27705           RO
36                   Cacoal   1000   1000   2160           RO
37               Cerejeiras  35190  36150  36430           RO
...                     ...    ...    ...    ...    ...   ...
5591             Vianópolis  40000  41000  41000           GO
5592         Vicentinópolis  20400  21000  24500           GO
5593               Vila Boa    250    250   1800           GO
5594          Vila Propício  16500  16700  22950           GO
5595               Brasília  75000  74500  80000           DF

[5563 rows x 6 columns]

In [101]:
# Filtrar apenas a cidade de Água Boa
agua_boa = area_plantada_ibge1[area_plantada_ibge1['Cidade'] == 'Água Boa']

display(agua_boa)

        Cidade    2019    2020    2021 Estado Sigla
2281  Água Boa       -       -       -           MG
5209  Água Boa  160000  178000  175000           MT

In [106]:
# Criando um Groupby para o MT

group = area_plantada_ibge1.loc[area_plantada_ibge1['Sigla'] == 'MT', ['Sigla', '2019', '2020', '2021']].groupby('Sigla', numeric_only=True).sum()

print(group)

TypeError: groupby() got an unexpected keyword argument 'numeric_only'

In [107]:
area_plantada_ibge1.describe()

           Cidade  2019  2020  2021 Estado Sigla
count        5563  5563  5563  5563   5563  5563
unique       5290   985  1018  1019      1    27
top     Bom Jesus     -     -     -           MG
freq            5  3126  3100  3024   5563   853

In [108]:
area_plantada_ibge1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5563 entries, 33 to 5595
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Cidade  5563 non-null   object
 1   2019    5563 non-null   object
 2   2020    5563 non-null   object
 3   2021    5563 non-null   object
 4   Estado  5563 non-null   object
 5   Sigla   5563 non-null   object
dtypes: object(6)
memory usage: 304.2+ KB

In [109]:
# Transformando a colunas em numeros
area_plantada_ibge1['2019'] = area_plantada_ibge1['2019'].astype(float).round(0)
area_plantada_ibge1['2020'] = area_plantada_ibge1['2020'].astype(float).round(0)
area_plantada_ibge1['2021'] = area_plantada_ibge1['2021'].astype(float).round(0)

area_plantada_ibge1.info()

ValueError: could not convert string to float: '-'

In [110]:
area_plantada_ibge1.loc[area_plantada_ibge1['2019'] == '-', '2019'] = 0
area_plantada_ibge1.loc[area_plantada_ibge1['2020'] == '-', '2020'] = 0
area_plantada_ibge1.loc[area_plantada_ibge1['2021'] == '-', '2021'] = 0

area_plantada_ibge1['2019'] = area_plantada_ibge1['2019'].astype(float).round(0)
area_plantada_ibge1['2020'] = area_plantada_ibge1['2020'].astype(float).round(0)
area_plantada_ibge1['2021'] = area_plantada_ibge1['2021'].astype(float).round(0)

ValueError: could not convert string to float: '...'

In [112]:
area_plantada_ibge1.loc[area_plantada_ibge1['2019'] == '...', '2019'] = 0
area_plantada_ibge1.loc[area_plantada_ibge1['2020'] == '...', '2020'] = 0
area_plantada_ibge1.loc[area_plantada_ibge1['2021'] == '...', '2021'] = 0

area_plantada_ibge1['2019'] = area_plantada_ibge1['2019'].astype(float).round(0)
area_plantada_ibge1['2020'] = area_plantada_ibge1['2020'].astype(float).round(0)
area_plantada_ibge1['2021'] = area_plantada_ibge1['2021'].astype(float).round(0)

In [113]:
area_plantada_ibge1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5563 entries, 33 to 5595
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Cidade  5563 non-null   object
 1   2019    5563 non-null   float64
 2   2020    5563 non-null   float64
 3   2021    5563 non-null   float64
 4   Estado  5563 non-null   object
 5   Sigla   5563 non-null   object
dtypes: float64(3), object(3)
memory usage: 304.2+ KB

In [115]:
# Criando um Groupby para o MT
group = area_plantada_ibge1.loc[area_plantada_ibge1['Sigla'] == 'MT', ['Sigla', '2019', '2020', '2021']].groupby('Sigla').sum()

print(group)

            2019       2020        2021
Sigla
MT     9724213.0  9989649.0  10461712.0

In [118]:
# Fazendo o concat dos DataFrames group e agua_boa
merged_df = pd.concat([group, agua_boa[['Cidade', '2019', '2020', '2021']]], axis=0)


display(merged_df)

           2019       2020        2021    Cidade
MT    9724213.0  9989649.0  10461712.0       NaN
2281          -          -           -  Água Boa
5209     160000     178000      175000  Água Boa

In [125]:
merged_df = merged_df.drop(index=2281)
display(merged_df)

           2019       2020        2021    Cidade
MT    9724213.0  9989649.0  10461712.0       NaN
5209     160000     178000      175000  Água Boa

In [126]:
merged_df.to_excel('Agua Boa.xlsx')