In [ ]:
# logica de programação

# 1 Analise: analisar a nivel estadual e nacional diferentes base de dados (IBGE e CONAB)
# Possibilidade de analises: Erros entres as bases, Diferença do erro, validar a metodologia de captação dos dados para entender possiveis erros, erros maximos e minimo, validar qual base poderia ser mais confiavel para uma analise.

# Tarefas:
# Baixar o banco de dados 
# Trazer todos para um dataframe de analise
# Validar ajustes nos dados: IBGE já gera a % da area planta, mas devemos checar o dado
# Compilar as duas informações em 1 dataframe
# Gerar informações

In [55]:
import pandas as pd
import numpy as np

In [67]:
#Importando a planilha Excel do IBGE
ibge= pd.read_excel('tabela1612.xlsx')

display(ibge)

,"Tabela 1612 - Área plantada, área colhida, quantidade produzida, rendimento médio e valor da produção das lavouras temporárias",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Variável - Área plantada,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nível,"Brasil, Unidade da Federação, Município, Mesor...",Ano x Produto das lavouras temporárias,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2019,NaN,2020,NaN,2021,NaN
3,NaN,NaN,Soja (em grão),NaN,Soja (em grão),NaN,Soja (em grão),NaN
4,BR,Brasil,35944094,Hectares,37205462,Hectares,39185745,Hectares
...,...,...,...,...,...,...,...,...
6287,MI,Pires do Rio (GO),203450,Hectares,211600,Hectares,258180,Hectares
6288,MI,Catalão (GO),282890,Hectares,294310,Hectares,302573,Hectares
6289,MI,Quirinópolis (GO),32050,Hectares,35500,Hectares,41125,Hectares
6290,MI,Brasília (DF),75000,Hectares,74500,Hectares,80000,Hectares
6291,Fonte: IBGE - Produção Agrícola Municipal,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
# Entrar na aba que precisamos para trabalhar essa analise

ibge_abas=pd.ExcelFile('tabela1612.xlsx')

abas= ibge_abas.sheet_names

for aba in abas:
    print(aba)

Área plantada
Área plantada - percentual d...
Área colhida
Área colhida - percentual do...
Quantidade produzida
Valor da produção
Valor da produção - percentu...
Notas

In [111]:
# Selecionando a planilha a ser usada

area_plantada_ibge1= pd.read_excel('tabela1612.xlsx', sheet_name='Área plantada')

area_plantada_ibge1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6292 entries, 0 to 6291
Data columns (total 8 columns):
 #   Column                                                                                                                          Non-Null Count  Dtype
---  ------                                                                                                                          --------------  -----
 0   Tabela 1612 - Área plantada, área colhida, quantidade produzida, rendimento médio e valor da produção das lavouras temporárias  6290 non-null   object
 1   Unnamed: 1                                                                                                                      6288 non-null   object
 2   Unnamed: 2                                                                                                                      6290 non-null   object
 3   Unnamed: 3                                                                                                                      6287 non-null   object
 4   Unnamed: 4                                                                                                                      6289 non-null   object
 5   Unnamed: 5                                                                                                                      6287 non-null   object
 6   Unnamed: 6                                                                                                                      6289 non-null   object
 7   Unnamed: 7                                                                                                                      6287 non-null   object
dtypes: object(8)
memory usage: 393.4+ KB

In [112]:
# Olhando os dados precisamos organizar o modelo, para isso, vamos ajustar o cabeçalho para entender melhor as colunas e excluir dados desncessarios
area_plantada_ibge1.head(50)

,"Tabela 1612 - Área plantada, área colhida, quantidade produzida, rendimento médio e valor da produção das lavouras temporárias",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Variável - Área plantada,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nível,"Brasil, Unidade da Federação, Município, Mesor...",Ano x Produto das lavouras temporárias,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2019,NaN,2020,NaN,2021,NaN
3,NaN,NaN,Soja (em grão),NaN,Soja (em grão),NaN,Soja (em grão),NaN
4,BR,Brasil,35944094,Hectares,37205462,Hectares,39185745,Hectares
5,UF,Rondônia,344551,Hectares,392642,Hectares,400459,Hectares
6,UF,Acre,1660,Hectares,3280,Hectares,6185,Hectares
7,UF,Amazonas,2500,Hectares,2700,Hectares,3000,Hectares
8,UF,Roraima,39930,Hectares,49800,Hectares,57277,Hectares
9,UF,Pará,577764,Hectares,643267,Hectares,753781,Hectares
10,UF,Amapá,19476,Hectares,20300,Hectares,6715,Hectares
11,UF,Tocantins,905281,Hectares,962399,Hectares,1171308,Hectares
12,UF,Maranhão,977598,Hectares,960900,Hectares,1023541,Hectares
13,UF,Piauí,766044,Hectares,757978,Hectares,832063,Hectares
14,UF,Ceará,-,Hectares,450,Hectares,1414,Hectares
15,UF,Rio Grande do Norte,-,Hectares,-,Hectares,-,Hectares
16,UF,Paraíba,-,Hectares,-,Hectares,-,Hectares
17,UF,Pernambuco,-,Hectares,-,Hectares,300,Hectares
18,UF,Alagoas,3141,Hectares,1224,Hectares,3312,Hectares
19,UF,Sergipe,-,Hectares,-,Hectares,-,Hectares
20,UF,Bahia,1585842,Hectares,1622475,Hectares,1699965,Hectares
21,UF,Minas Gerais,1627741,Hectares,1695702,Hectares,1935260,Hectares
22,UF,Espírito Santo,-,Hectares,-,Hectares,-,Hectares
23,UF,Rio de Janeiro,-,Hectares,-,Hectares,-,Hectares
24,UF,Guanabara,...,Hectares,...,Hectares,...,Hectares
25,UF,São Paulo,1080541,Hectares,1132965,Hectares,1199351,Hectares
26,UF,Paraná,5418814,Hectares,5534843,Hectares,5521183,Hectares
27,UF,Santa Catarina,665548,Hectares,664795,Hectares,688980,Hectares
28,UF,Rio Grande do Sul,5843533,Hectares,5996371,Hectares,6107620,Hectares
29,UF,Mato Grosso do Sul,2882107,Hectares,3121522,Hectares,3377042,Hectares
30,UF,Mato Grosso,9724213,Hectares,9989649,Hectares,10461712,Hectares
31,UF,Goiás,3402810,Hectares,3577700,Hectares,3855277,Hectares
32,UF,Distrito Federal,75000,Hectares,74500,Hectares,80000,Hectares
33,MU,Alta Floresta D'Oeste (RO),450,Hectares,450,Hectares,1072,Hectares
34,MU,Ariquemes (RO),7893,Hectares,7782,Hectares,6979,Hectares
35,MU,Cabixi (RO),24630,Hectares,24950,Hectares,27705,Hectares
36,MU,Cacoal (RO),1000,Hectares,1000,Hectares,2160,Hectares
37,MU,Cerejeiras (RO),35190,Hectares,36150,Hectares,36430,Hectares
38,MU,Colorado do Oeste (RO),3250,Hectares,3250,Hectares,3050,Hectares
39,MU,Corumbiara (RO),40500,Hectares,40500,Hectares,51250,Hectares
40,MU,Costa Marques (RO),-,Hectares,-,Hectares,200,Hectares
41,MU,Espigão D'Oeste (RO),900,Hectares,900,Hectares,1130,Hectares
42,MU,Guajará-Mirim (RO),-,Hectares,-,Hectares,-,Hectares
43,MU,Jaru (RO),-,Hectares,-,Hectares,28,Hectares
44,MU,Ji-Paraná (RO),-,Hectares,-,Hectares,-,Hectares
45,MU,Machadinho D'Oeste (RO),9300,Hectares,14438,Hectares,14209,Hectares
46,MU,Nova Brasilândia D'Oeste (RO),300,Hectares,300,Hectares,996,Hectares
47,MU,Ouro Preto do Oeste (RO),-,Hectares,-,Hectares,-,Hectares
48,MU,Pimenta Bueno (RO),568,Hectares,568,Hectares,2108,Hectares
49,MU,Porto Velho (RO),10650,Hectares,17871,Hectares,13100,Hectares

In [124]:
# Renomeando o cabecalho e dropando linhas desnecessarias

new_columns = {'Unnamed: 1': 'uf', 
               'Unnamed: 2': '2019',
               'Unnamed: 3': 'Unidade de medida',
               'Unnamed: 4': '2020',
               'Unnamed: 5': 'Unidade de medida',
               'Unnamed: 6': '2021',
               'Unnamed: 7': 'Unidade de medida'}

area_plantada_ibge2 = area_plantada_ibge1.rename(columns=new_columns)
area_plantada_ibge2 = area_plantada_ibge2.drop([0, 1, 2, 3])
area_plantada_ibge2 = area_plantada_ibge2.reset_index(drop=True)
area_plantada_ibge2 = area_plantada_ibge2.drop(index=range(29, len(area_plantada_ibge2)))


area_plantada_ibge2.head(35)

,"Tabela 1612 - Área plantada, área colhida, quantidade produzida, rendimento médio e valor da produção das lavouras temporárias",uf,2019,Unidade de medida,2020,Unidade de medida,2021,Unidade de medida
0,BR,Brasil,35944094,Hectares,37205462,Hectares,39185745,Hectares
1,UF,Rondônia,344551,Hectares,392642,Hectares,400459,Hectares
2,UF,Acre,1660,Hectares,3280,Hectares,6185,Hectares
3,UF,Amazonas,2500,Hectares,2700,Hectares,3000,Hectares
4,UF,Roraima,39930,Hectares,49800,Hectares,57277,Hectares
5,UF,Pará,577764,Hectares,643267,Hectares,753781,Hectares
6,UF,Amapá,19476,Hectares,20300,Hectares,6715,Hectares
7,UF,Tocantins,905281,Hectares,962399,Hectares,1171308,Hectares
8,UF,Maranhão,977598,Hectares,960900,Hectares,1023541,Hectares
9,UF,Piauí,766044,Hectares,757978,Hectares,832063,Hectares
10,UF,Ceará,-,Hectares,450,Hectares,1414,Hectares
11,UF,Rio Grande do Norte,-,Hectares,-,Hectares,-,Hectares
12,UF,Paraíba,-,Hectares,-,Hectares,-,Hectares
13,UF,Pernambuco,-,Hectares,-,Hectares,300,Hectares
14,UF,Alagoas,3141,Hectares,1224,Hectares,3312,Hectares
15,UF,Sergipe,-,Hectares,-,Hectares,-,Hectares
16,UF,Bahia,1585842,Hectares,1622475,Hectares,1699965,Hectares
17,UF,Minas Gerais,1627741,Hectares,1695702,Hectares,1935260,Hectares
18,UF,Espírito Santo,-,Hectares,-,Hectares,-,Hectares
19,UF,Rio de Janeiro,-,Hectares,-,Hectares,-,Hectares
20,UF,Guanabara,...,Hectares,...,Hectares,...,Hectares
21,UF,São Paulo,1080541,Hectares,1132965,Hectares,1199351,Hectares
22,UF,Paraná,5418814,Hectares,5534843,Hectares,5521183,Hectares
23,UF,Santa Catarina,665548,Hectares,664795,Hectares,688980,Hectares
24,UF,Rio Grande do Sul,5843533,Hectares,5996371,Hectares,6107620,Hectares
25,UF,Mato Grosso do Sul,2882107,Hectares,3121522,Hectares,3377042,Hectares
26,UF,Mato Grosso,9724213,Hectares,9989649,Hectares,10461712,Hectares
27,UF,Goiás,3402810,Hectares,3577700,Hectares,3855277,Hectares
28,UF,Distrito Federal,75000,Hectares,74500,Hectares,80000,Hectares

In [75]:
# Importando a base de dados da conab

url = "https://portaldeinformacoes.conab.gov.br/downloads/arquivos/SerieHistoricaGraos.txt"

conab = pd.read_csv(url, sep=";", encoding="ISO-8859-1")

display(conab)

,ano_agricola,dsc_safra_previsao,uf,produto,id_produto,area_plantada_mil_ha,producao_mil_t,produtividade_mil_ha_mil_t
0,1976/77,UNICA,AL,ALGODAO EM PLUMA,4586,99.3,6.0,0.1
1,1976/77,UNICA,BA,ALGODAO EM PLUMA,4586,123.4,7.0,0.1
2,1976/77,UNICA,CE,ALGODAO EM PLUMA,4586,1296.0,70.0,0.1
3,1976/77,UNICA,GO,ALGODAO EM PLUMA,4586,73.1,28.2,0.4
4,1976/77,UNICA,MA,ALGODAO EM PLUMA,4586,44.4,2.0,0.0
...,...,...,...,...,...,...,...,...
11627,2022,UNICA,RS,TRITICALE,4753,5.8,18.7,3.2
11628,2022,UNICA,SC,TRITICALE,4753,0.0,0.0,0.0
11629,2022,UNICA,SE,TRITICALE,4753,0.0,0.0,0.0
11630,2022,UNICA,SP,TRITICALE,4753,1.8,4.9,2.7
11631,2022,UNICA,TO,TRITICALE,4753,0.0,0.0,0.0

In [76]:
# filtrando o dataframe para apenas soja

print(conab['produto'].value_counts())
conab.describe()
conab.info()

FEIJAO                                      2352
MILHO                                       1769
ARROZ                                       1242
AMENDOIM                                     751
CAROCO DE ALGODAO                            742
ALGODAO EM PLUMA                             731
SOJA                                         727
SORGO GRANIFERO                              643
MAMONA EM BAGA                               451
TRIGO                                        446
CAFE                                         367
GIRASSOL                                     274
CEVADA                                       237
AVEIA                                        236
CENTEIO                                      220
TRITICALE                                    174
CANOLA                                       135
GERGELIM                                     135
Name: produto, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11632 entries, 0 to 11631
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ano_agricola                11632 non-null  object
 1   dsc_safra_previsao          11632 non-null  object
 2   uf                          11632 non-null  object
 3   produto                     11632 non-null  object
 4   id_produto                  11632 non-null  int64
 5   area_plantada_mil_ha        11631 non-null  float64
 6   producao_mil_t              11632 non-null  float64
 7   produtividade_mil_ha_mil_t  11631 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 727.1+ KB

In [77]:
# Tive dificuldade de filtrar o dataframe transformei ele para Excel para buscar uma solução diferente

conab.to_excel('conab_soja.xlsx', index=False)

In [78]:
# Importando o dado em formato excel
conab_soja= pd.read_excel('conab_soja.xlsx')

display(conab_soja)

,ano_agricola,dsc_safra_previsao,uf,produto,id_produto,area_plantada_mil_ha,producao_mil_t,produtividade_mil_ha_mil_t
0,1976/77,UNICA,AL,ALGODAO EM PLUMA,4586,99.3,6.0,0.1
1,1976/77,UNICA,BA,ALGODAO EM PLUMA,4586,123.4,7.0,0.1
2,1976/77,UNICA,CE,ALGODAO EM PLUMA,4586,1296.0,70.0,0.1
3,1976/77,UNICA,GO,ALGODAO EM PLUMA,4586,73.1,28.2,0.4
4,1976/77,UNICA,MA,ALGODAO EM PLUMA,4586,44.4,2.0,0.0
...,...,...,...,...,...,...,...,...
11627,2022,UNICA,RS,TRITICALE,4753,5.8,18.7,3.2
11628,2022,UNICA,SC,TRITICALE,4753,0.0,0.0,0.0
11629,2022,UNICA,SE,TRITICALE,4753,0.0,0.0,0.0
11630,2022,UNICA,SP,TRITICALE,4753,1.8,4.9,2.7
11631,2022,UNICA,TO,TRITICALE,4753,0.0,0.0,0.0

In [79]:
# Filtrando linhas que apresentem apenas soja

filtro_produto = conab_soja['produto'].str.contains('SOJA', case=False)
filtro_ano = conab_soja['ano_agricola'] >= '2018/19'
novo_df = conab_soja[filtro_produto & filtro_ano]

display(novo_df)

,ano_agricola,dsc_safra_previsao,uf,produto,id_produto,area_plantada_mil_ha,producao_mil_t,produtividade_mil_ha_mil_t
10234,2018/19,UNICA,AC,SOJA,4744,2.0,4.4,2.2
10235,2018/19,UNICA,AL,SOJA,4744,2.0,4.5,2.2
10236,2018/19,UNICA,AM,SOJA,4744,2.0,5.3,2.6
10237,2018/19,UNICA,AP,SOJA,4744,21.0,57.5,2.7
10238,2018/19,UNICA,BA,SOJA,4744,1580.0,5403.9,3.4
...,...,...,...,...,...,...,...,...
10364,2022/23,UNICA,RS,SOJA,4744,6555.1,15188.2,2.3
10365,2022/23,UNICA,SC,SOJA,4744,737.8,2588.9,3.5
10366,2022/23,UNICA,SE,SOJA,4744,0.0,0.0,0.0
10367,2022/23,UNICA,SP,SOJA,4744,1267.8,4792.3,3.8
10368,2022/23,UNICA,TO,SOJA,4744,1269.5,4403.9,3.5

In [89]:
# Criando uma coluna com o valor final de area plantada

novo_df.loc[:, 'area_plantada_ha'] = novo_df['area_plantada_mil_ha'] * 1000

display(novo_df)

C:\Users\PEDRO\AppData\Local\Temp\ipykernel_7932\3922253293.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  novo_df.loc[:, 'area_plantada_ha'] = novo_df['area_plantada_mil_ha'] * 1000

,ano_agricola,dsc_safra_previsao,uf,produto,id_produto,area_plantada_mil_ha,producao_mil_t,produtividade_mil_ha_mil_t,ano_numerico,ano_agricola_novo,area_plantada_ha
10234,2018/19,UNICA,AC,SOJA,4744,2.0,4.4,2.2,None,2019,2000.0
10235,2018/19,UNICA,AL,SOJA,4744,2.0,4.5,2.2,None,2019,2000.0
10236,2018/19,UNICA,AM,SOJA,4744,2.0,5.3,2.6,None,2019,2000.0
10237,2018/19,UNICA,AP,SOJA,4744,21.0,57.5,2.7,None,2019,21000.0
10238,2018/19,UNICA,BA,SOJA,4744,1580.0,5403.9,3.4,None,2019,1580000.0
...,...,...,...,...,...,...,...,...,...,...,...
10310,2020/21,UNICA,RS,SOJA,4744,6055.2,20787.5,3.4,None,2021,6055200.0
10311,2020/21,UNICA,SC,SOJA,4744,696.3,2363.9,3.4,None,2021,696300.0
10312,2020/21,UNICA,SE,SOJA,4744,0.0,0.0,0.0,None,2021,0.0
10313,2020/21,UNICA,SP,SOJA,4744,1162.0,4299.4,3.7,None,2021,1162000.0
10314,2020/21,UNICA,TO,SOJA,4744,1119.0,3526.0,3.2,None,2021,1119000.0

In [90]:
# Entendendo como estão os formatos do DF

novo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81 entries, 10234 to 10314
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ano_agricola                81 non-null     object
 1   dsc_safra_previsao          81 non-null     object
 2   uf                          81 non-null     object
 3   produto                     81 non-null     object
 4   id_produto                  81 non-null     int64
 5   area_plantada_mil_ha        81 non-null     float64
 6   producao_mil_t              81 non-null     float64
 7   produtividade_mil_ha_mil_t  81 non-null     float64
 8   ano_numerico                0 non-null      object
 9   ano_agricola_novo           81 non-null     int32
 10  area_plantada_ha            81 non-null     float64
dtypes: float64(4), int32(1), int64(1), object(5)
memory usage: 7.3+ KB

In [91]:
print(novo_df['ano_agricola'].value_counts())

2018/19                 27
2019/20                 27
2020/21                 27
Name: ano_agricola, dtype: int64

In [92]:
# Tive dificuldades para criar uma coluna com apenas o ano de produção

substituicoes = {'2018/19': 2019, '2019/20': 2020, '2020/21': 2021, '2021/22': 2022, '2022/23': 2023}

novo_df['ano_numerico'] = novo_df['ano_agricola'].apply(lambda x: substituicoes.get(x, None))

display(novo_df)

C:\Users\PEDRO\AppData\Local\Temp\ipykernel_7932\686524658.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  novo_df['ano_numerico'] = novo_df['ano_agricola'].apply(lambda x: substituicoes.get(x, None))

,ano_agricola,dsc_safra_previsao,uf,produto,id_produto,area_plantada_mil_ha,producao_mil_t,produtividade_mil_ha_mil_t,ano_numerico,ano_agricola_novo,area_plantada_ha
10234,2018/19,UNICA,AC,SOJA,4744,2.0,4.4,2.2,None,2019,2000.0
10235,2018/19,UNICA,AL,SOJA,4744,2.0,4.5,2.2,None,2019,2000.0
10236,2018/19,UNICA,AM,SOJA,4744,2.0,5.3,2.6,None,2019,2000.0
10237,2018/19,UNICA,AP,SOJA,4744,21.0,57.5,2.7,None,2019,21000.0
10238,2018/19,UNICA,BA,SOJA,4744,1580.0,5403.9,3.4,None,2019,1580000.0
...,...,...,...,...,...,...,...,...,...,...,...
10310,2020/21,UNICA,RS,SOJA,4744,6055.2,20787.5,3.4,None,2021,6055200.0
10311,2020/21,UNICA,SC,SOJA,4744,696.3,2363.9,3.4,None,2021,696300.0
10312,2020/21,UNICA,SE,SOJA,4744,0.0,0.0,0.0,None,2021,0.0
10313,2020/21,UNICA,SP,SOJA,4744,1162.0,4299.4,3.7,None,2021,1162000.0
10314,2020/21,UNICA,TO,SOJA,4744,1119.0,3526.0,3.2,None,2021,1119000.0

In [93]:
# Como solução usei minha experiencia no excel, e "criei" a função esquerda com 4 digitos

novo_df['ano_agricola_novo'] = novo_df['ano_agricola'].str.slice(stop=4)
display(novo_df)

C:\Users\PEDRO\AppData\Local\Temp\ipykernel_7932\3416900933.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  novo_df['ano_agricola_novo'] = novo_df['ano_agricola'].str.slice(stop=4)

,ano_agricola,dsc_safra_previsao,uf,produto,id_produto,area_plantada_mil_ha,producao_mil_t,produtividade_mil_ha_mil_t,ano_numerico,ano_agricola_novo,area_plantada_ha
10234,2018/19,UNICA,AC,SOJA,4744,2.0,4.4,2.2,None,2018,2000.0
10235,2018/19,UNICA,AL,SOJA,4744,2.0,4.5,2.2,None,2018,2000.0
10236,2018/19,UNICA,AM,SOJA,4744,2.0,5.3,2.6,None,2018,2000.0
10237,2018/19,UNICA,AP,SOJA,4744,21.0,57.5,2.7,None,2018,21000.0
10238,2018/19,UNICA,BA,SOJA,4744,1580.0,5403.9,3.4,None,2018,1580000.0
...,...,...,...,...,...,...,...,...,...,...,...
10310,2020/21,UNICA,RS,SOJA,4744,6055.2,20787.5,3.4,None,2020,6055200.0
10311,2020/21,UNICA,SC,SOJA,4744,696.3,2363.9,3.4,None,2020,696300.0
10312,2020/21,UNICA,SE,SOJA,4744,0.0,0.0,0.0,None,2020,0.0
10313,2020/21,UNICA,SP,SOJA,4744,1162.0,4299.4,3.7,None,2020,1162000.0
10314,2020/21,UNICA,TO,SOJA,4744,1119.0,3526.0,3.2,None,2020,1119000.0

In [94]:
#Adicionei 1 ano a mais para ficar na mesma base do ibge

novo_df['ano_agricola_novo'] = novo_df['ano_agricola_novo'].astype(int) + 1

display(novo_df)

C:\Users\PEDRO\AppData\Local\Temp\ipykernel_7932\383087670.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  novo_df['ano_agricola_novo'] = novo_df['ano_agricola_novo'].astype(int) + 1

,ano_agricola,dsc_safra_previsao,uf,produto,id_produto,area_plantada_mil_ha,producao_mil_t,produtividade_mil_ha_mil_t,ano_numerico,ano_agricola_novo,area_plantada_ha
10234,2018/19,UNICA,AC,SOJA,4744,2.0,4.4,2.2,None,2019,2000.0
10235,2018/19,UNICA,AL,SOJA,4744,2.0,4.5,2.2,None,2019,2000.0
10236,2018/19,UNICA,AM,SOJA,4744,2.0,5.3,2.6,None,2019,2000.0
10237,2018/19,UNICA,AP,SOJA,4744,21.0,57.5,2.7,None,2019,21000.0
10238,2018/19,UNICA,BA,SOJA,4744,1580.0,5403.9,3.4,None,2019,1580000.0
...,...,...,...,...,...,...,...,...,...,...,...
10310,2020/21,UNICA,RS,SOJA,4744,6055.2,20787.5,3.4,None,2021,6055200.0
10311,2020/21,UNICA,SC,SOJA,4744,696.3,2363.9,3.4,None,2021,696300.0
10312,2020/21,UNICA,SE,SOJA,4744,0.0,0.0,0.0,None,2021,0.0
10313,2020/21,UNICA,SP,SOJA,4744,1162.0,4299.4,3.7,None,2021,1162000.0
10314,2020/21,UNICA,TO,SOJA,4744,1119.0,3526.0,3.2,None,2021,1119000.0

In [95]:
# selecionei as linhas com os valores 2022 ou 2023 e dropamos
linhas_para_dropar = novo_df.loc[(novo_df['ano_agricola_novo'] == 2022) | (novo_df['ano_agricola_novo'] == 2023)].index
novo_df.drop(linhas_para_dropar, inplace=True)

display(novo_df)

C:\Users\PEDRO\AppData\Local\Temp\ipykernel_7932\2743674132.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  novo_df.drop(linhas_para_dropar, inplace=True)

,ano_agricola,dsc_safra_previsao,uf,produto,id_produto,area_plantada_mil_ha,producao_mil_t,produtividade_mil_ha_mil_t,ano_numerico,ano_agricola_novo,area_plantada_ha
10234,2018/19,UNICA,AC,SOJA,4744,2.0,4.4,2.2,None,2019,2000.0
10235,2018/19,UNICA,AL,SOJA,4744,2.0,4.5,2.2,None,2019,2000.0
10236,2018/19,UNICA,AM,SOJA,4744,2.0,5.3,2.6,None,2019,2000.0
10237,2018/19,UNICA,AP,SOJA,4744,21.0,57.5,2.7,None,2019,21000.0
10238,2018/19,UNICA,BA,SOJA,4744,1580.0,5403.9,3.4,None,2019,1580000.0
...,...,...,...,...,...,...,...,...,...,...,...
10310,2020/21,UNICA,RS,SOJA,4744,6055.2,20787.5,3.4,None,2021,6055200.0
10311,2020/21,UNICA,SC,SOJA,4744,696.3,2363.9,3.4,None,2021,696300.0
10312,2020/21,UNICA,SE,SOJA,4744,0.0,0.0,0.0,None,2021,0.0
10313,2020/21,UNICA,SP,SOJA,4744,1162.0,4299.4,3.7,None,2021,1162000.0
10314,2020/21,UNICA,TO,SOJA,4744,1119.0,3526.0,3.2,None,2021,1119000.0

In [96]:
# Criar um novo pivot.table com colunas no cabeçalho sendo UF e mais 3 colunas com unique do ano_agricola_novo sendo o que será prenchindo nestas colunas será a area_plantada_ha em relação a cada ano_agricola_novo e UF

pivot_table = pd.pivot_table(novo_df, index=['uf'],columns=['ano_agricola_novo'], values=['area_plantada_ha'], aggfunc=np.sum)


brasil_somas = pivot_table.sum(axis=0)
pivot_table = pivot_table.append(pd.Series(name="Brasil", data=brasil_somas).to_frame().T)

display(pivot_table)

C:\Users\PEDRO\AppData\Local\Temp\ipykernel_7932\1465644529.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pivot_table = pivot_table.append(pd.Series(name="Brasil", data=brasil_somas).to_frame().T)

                  area_plantada_ha
ano_agricola_novo             2019        2020        2021
AC                          2000.0      4000.0      6100.0
AL                          2000.0      1000.0      2800.0
AM                          2000.0      2000.0      4300.0
AP                         21000.0     21000.0      5300.0
BA                       1580000.0   1620000.0   1701000.0
CE                             0.0         0.0         0.0
DF                         73000.0     74000.0     78500.0
ES                             0.0         0.0         0.0
GO                       3476000.0   3545000.0   4299000.0
MA                        992000.0    976000.0   1005700.0
MG                       1575000.0   1647000.0   1899300.0
MS                       2854000.0   3016000.0   3360000.0
MT                       9700000.0  10004000.0  10479700.0
PA                        561000.0    607000.0    731900.0
PB                             0.0         0.0         0.0
PE                             0.0         0.0         0.0
PI                        758000.0    759000.0    834800.0
PR                       5438000.0   5503000.0   5623800.0
RJ                             0.0         0.0         0.0
RN                             0.0         0.0         0.0
RO                        334000.0    348000.0    396500.0
RR                         40000.0     50000.0     70000.0
RS                       5778000.0   5902000.0   6055200.0
SC                        665000.0    681000.0    696300.0
SE                             0.0         0.0         0.0
SP                        996000.0   1110000.0   1162000.0
TO                       1029000.0   1078000.0   1119000.0
Brasil                  35876000.0  36948000.0  39531200.0

In [97]:
# Trocando as siglas dos estados.
uf_dic = {'AC': 'Acre', 'AL': 'Alagoas', 'AP': 'Amapá', 'AM': 'Amazonas', 'BA': 'Bahia', 'CE': 'Ceará', 'DF': 'Distrito Federal', 'ES': 'Espírito Santo', 'GO': 'Goiás', 'MA': 'Maranhão', 'MT': 'Mato Grosso', 'MS': 'Mato Grosso do Sul', 'MG': 'Minas Gerais', 'PA': 'Pará', 'PB': 'Paraíba', 'PR': 'Paraná', 'PE': 'Pernambuco', 'PI': 'Piauí', 'RR': 'Roraima', 'RO': 'Rondônia', 'RJ': 'Rio de Janeiro', 'RN': 'Rio Grande do Norte', 'RS': 'Rio Grande do Sul', 'SC': 'Santa Catarina', 'SP': 'São Paulo', 'SE': 'Sergipe', 'TO': 'Tocantins'}
pivot_table = pivot_table.rename(index=uf_dic)

display(pivot_table)

                    area_plantada_ha
ano_agricola_novo               2019        2020        2021
Acre                          2000.0      4000.0      6100.0
Alagoas                       2000.0      1000.0      2800.0
Amazonas                      2000.0      2000.0      4300.0
Amapá                        21000.0     21000.0      5300.0
Bahia                      1580000.0   1620000.0   1701000.0
Ceará                            0.0         0.0         0.0
Distrito Federal             73000.0     74000.0     78500.0
Espírito Santo                   0.0         0.0         0.0
Goiás                      3476000.0   3545000.0   4299000.0
Maranhão                    992000.0    976000.0   1005700.0
Minas Gerais               1575000.0   1647000.0   1899300.0
Mato Grosso do Sul         2854000.0   3016000.0   3360000.0
Mato Grosso                9700000.0  10004000.0  10479700.0
Pará                        561000.0    607000.0    731900.0
Paraíba                          0.0         0.0         0.0
Pernambuco                       0.0         0.0         0.0
Piauí                       758000.0    759000.0    834800.0
Paraná                     5438000.0   5503000.0   5623800.0
Rio de Janeiro                   0.0         0.0         0.0
Rio Grande do Norte              0.0         0.0         0.0
Rondônia                    334000.0    348000.0    396500.0
Roraima                      40000.0     50000.0     70000.0
Rio Grande do Sul          5778000.0   5902000.0   6055200.0
Santa Catarina              665000.0    681000.0    696300.0
Sergipe                          0.0         0.0         0.0
São Paulo                   996000.0   1110000.0   1162000.0
Tocantins                  1029000.0   1078000.0   1119000.0
Brasil                    35876000.0  36948000.0  39531200.0

In [98]:
# Vamos fazer o merger das duas planilhas para comparar e fazer a analise.

pivot_table.head(5)

                  area_plantada_ha
ano_agricola_novo             2019       2020       2021
Acre                        2000.0     4000.0     6100.0
Alagoas                     2000.0     1000.0     2800.0
Amazonas                    2000.0     2000.0     4300.0
Amapá                      21000.0    21000.0     5300.0
Bahia                    1580000.0  1620000.0  1701000.0

In [125]:

area_plantada_ibge2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 8 columns):
 #   Column                                                                                                                          Non-Null Count  Dtype
---  ------                                                                                                                          --------------  -----
 0   Tabela 1612 - Área plantada, área colhida, quantidade produzida, rendimento médio e valor da produção das lavouras temporárias  29 non-null     object
 1   uf                                                                                                                              29 non-null     object
 2   2019                                                                                                                            29 non-null     object
 3   Unidade de medida                                                                                                               29 non-null     object
 4   2020                                                                                                                            29 non-null     object
 5   Unidade de medida                                                                                                               29 non-null     object
 6   2021                                                                                                                            29 non-null     object
 7   Unidade de medida                                                                                                               29 non-null     object
dtypes: object(8)
memory usage: 1.9+ KB

In [126]:
# juntando as duas df
df_final = pd.concat([pivot_table, area_plantada_ibge2], axis=1)

display(df_final)

,"(area_plantada_ha, 2019)","(area_plantada_ha, 2020)","(area_plantada_ha, 2021)","Tabela 1612 - Área plantada, área colhida, quantidade produzida, rendimento médio e valor da produção das lavouras temporárias",uf,2019,Unidade de medida,2020,Unidade de medida,2021,Unidade de medida
Acre,2000.0,4000.0,6100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alagoas,2000.0,1000.0,2800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amazonas,2000.0,2000.0,4300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amapá,21000.0,21000.0,5300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bahia,1580000.0,1620000.0,1701000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ceará,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Distrito Federal,73000.0,74000.0,78500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Espírito Santo,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Goiás,3476000.0,3545000.0,4299000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Maranhão,992000.0,976000.0,1005700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Minas Gerais,1575000.0,1647000.0,1899300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mato Grosso do Sul,2854000.0,3016000.0,3360000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mato Grosso,9700000.0,10004000.0,10479700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pará,561000.0,607000.0,731900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Paraíba,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pernambuco,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Piauí,758000.0,759000.0,834800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Paraná,5438000.0,5503000.0,5623800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rio de Janeiro,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rio Grande do Norte,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rondônia,334000.0,348000.0,396500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Roraima,40000.0,50000.0,70000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rio Grande do Sul,5778000.0,5902000.0,6055200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Santa Catarina,665000.0,681000.0,696300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sergipe,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
São Paulo,996000.0,1110000.0,1162000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tocantins,1029000.0,1078000.0,1119000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brasil,35876000.0,36948000.0,39531200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,BR,Brasil,35944094,Hectares,37205462,Hectares,39185745,Hectares
1,NaN,NaN,NaN,UF,Rondônia,344551,Hectares,392642,Hectares,400459,Hectares
2,NaN,NaN,NaN,UF,Acre,1660,Hectares,3280,Hectares,6185,Hectares
3,NaN,NaN,NaN,UF,Amazonas,2500,Hectares,2700,Hectares,3000,Hectares
4,NaN,NaN,NaN,UF,Roraima,39930,Hectares,49800,Hectares,57277,Hectares
5,NaN,NaN,NaN,UF,Pará,577764,Hectares,643267,Hectares,753781,Hectares
6,NaN,NaN,NaN,UF,Amapá,19476,Hectares,20300,Hectares,6715,Hectares
7,NaN,NaN,NaN,UF,Tocantins,905281,Hectares,962399,Hectares,1171308,Hectares
8,NaN,NaN,NaN,UF,Maranhão,977598,Hectares,960900,Hectares,1023541,Hectares
9,NaN,NaN,NaN,UF,Piauí,766044,Hectares,757978,Hectares,832063,Hectares
10,NaN,NaN,NaN,UF,Ceará,-,Hectares,450,Hectares,1414,Hectares
11,NaN,NaN,NaN,UF,Rio Grande do Norte,-,Hectares,-,Hectares,-,Hectares
12,NaN,NaN,NaN,UF,Paraíba,-,Hectares,-,Hectares,-,Hectares
13,NaN,NaN,NaN,UF,Pernambuco,-,Hectares,-,Hectares,300,Hectares
14,NaN,NaN,NaN,UF,Alagoas,3141,Hectares,1224,Hectares,3312,Hectares
15,NaN,NaN,NaN,UF,Sergipe,-,Hectares,-,Hectares,-,Hectares
16,NaN,NaN,NaN,UF,Bahia,1585842,Hectares,1622475,Hectares,1699965,Hectares
17,NaN,NaN,NaN,UF,Minas Gerais,1627741,Hectares,1695702,Hectares,1935260,Hectares
18,NaN,NaN,NaN,UF,Espírito Santo,-,Hectares,-,Hectares,-,Hectares
19,NaN,NaN,NaN,UF,Rio de Janeiro,-,Hectares,-,Hectares,-,Hectares
20,NaN,NaN,NaN,UF,Guanabara,...,Hectares,...,Hectares,...,Hectares
21,NaN,NaN,NaN,UF,São Paulo,1080541,Hectares,1132965,Hectares,1199351,Hectares
22,NaN,NaN,NaN,UF,Paraná,5418814,Hectares,5534843,Hectares,5521183,Hectares
23,NaN,NaN,NaN,UF,Santa Catarina,665548,Hectares,664795,Hectares,688980,Hectares
24,NaN,NaN,NaN,UF,Rio Grande do Sul,5843533,Hectares,5996371,Hectares,6107620,Hectares
25,NaN,NaN,NaN,UF,Mato Grosso do Sul,2882107,Hectares,3121522,Hectares,3377042,Hectares
26,NaN,NaN,NaN,UF,Mato Grosso,9724213,Hectares,9989649,Hectares,10461712,Hectares
27,NaN,NaN,NaN,UF,Goiás,3402810,Hectares,3577700,Hectares,3855277,Hectares
28,NaN,NaN,NaN,UF,Distrito Federal,75000,Hectares,74500,Hectares,80000,Hectares

In [130]:
df_final1 = df_final.sort_values(by=( 'area_plantada_ha', 2021), ascending=False, na_position='last')

display(df_final1)

,"(area_plantada_ha, 2019)","(area_plantada_ha, 2020)","(area_plantada_ha, 2021)","Tabela 1612 - Área plantada, área colhida, quantidade produzida, rendimento médio e valor da produção das lavouras temporárias",uf,2019,Unidade de medida,2020,Unidade de medida,2021,Unidade de medida
Brasil,35876000.0,36948000.0,39531200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mato Grosso,9700000.0,10004000.0,10479700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rio Grande do Sul,5778000.0,5902000.0,6055200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Paraná,5438000.0,5503000.0,5623800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Goiás,3476000.0,3545000.0,4299000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mato Grosso do Sul,2854000.0,3016000.0,3360000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Minas Gerais,1575000.0,1647000.0,1899300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bahia,1580000.0,1620000.0,1701000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
São Paulo,996000.0,1110000.0,1162000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tocantins,1029000.0,1078000.0,1119000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Maranhão,992000.0,976000.0,1005700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Piauí,758000.0,759000.0,834800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pará,561000.0,607000.0,731900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Santa Catarina,665000.0,681000.0,696300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rondônia,334000.0,348000.0,396500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Distrito Federal,73000.0,74000.0,78500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Roraima,40000.0,50000.0,70000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Acre,2000.0,4000.0,6100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amapá,21000.0,21000.0,5300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amazonas,2000.0,2000.0,4300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alagoas,2000.0,1000.0,2800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rio de Janeiro,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rio Grande do Norte,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pernambuco,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Espírito Santo,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ceará,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sergipe,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Paraíba,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,BR,Brasil,35944094,Hectares,37205462,Hectares,39185745,Hectares
1,NaN,NaN,NaN,UF,Rondônia,344551,Hectares,392642,Hectares,400459,Hectares
2,NaN,NaN,NaN,UF,Acre,1660,Hectares,3280,Hectares,6185,Hectares
3,NaN,NaN,NaN,UF,Amazonas,2500,Hectares,2700,Hectares,3000,Hectares
4,NaN,NaN,NaN,UF,Roraima,39930,Hectares,49800,Hectares,57277,Hectares
5,NaN,NaN,NaN,UF,Pará,577764,Hectares,643267,Hectares,753781,Hectares
6,NaN,NaN,NaN,UF,Amapá,19476,Hectares,20300,Hectares,6715,Hectares
7,NaN,NaN,NaN,UF,Tocantins,905281,Hectares,962399,Hectares,1171308,Hectares
8,NaN,NaN,NaN,UF,Maranhão,977598,Hectares,960900,Hectares,1023541,Hectares
9,NaN,NaN,NaN,UF,Piauí,766044,Hectares,757978,Hectares,832063,Hectares
10,NaN,NaN,NaN,UF,Ceará,-,Hectares,450,Hectares,1414,Hectares
11,NaN,NaN,NaN,UF,Rio Grande do Norte,-,Hectares,-,Hectares,-,Hectares
12,NaN,NaN,NaN,UF,Paraíba,-,Hectares,-,Hectares,-,Hectares
13,NaN,NaN,NaN,UF,Pernambuco,-,Hectares,-,Hectares,300,Hectares
14,NaN,NaN,NaN,UF,Alagoas,3141,Hectares,1224,Hectares,3312,Hectares
15,NaN,NaN,NaN,UF,Sergipe,-,Hectares,-,Hectares,-,Hectares
16,NaN,NaN,NaN,UF,Bahia,1585842,Hectares,1622475,Hectares,1699965,Hectares
17,NaN,NaN,NaN,UF,Minas Gerais,1627741,Hectares,1695702,Hectares,1935260,Hectares
18,NaN,NaN,NaN,UF,Espírito Santo,-,Hectares,-,Hectares,-,Hectares
19,NaN,NaN,NaN,UF,Rio de Janeiro,-,Hectares,-,Hectares,-,Hectares
20,NaN,NaN,NaN,UF,Guanabara,...,Hectares,...,Hectares,...,Hectares
21,NaN,NaN,NaN,UF,São Paulo,1080541,Hectares,1132965,Hectares,1199351,Hectares
22,NaN,NaN,NaN,UF,Paraná,5418814,Hectares,5534843,Hectares,5521183,Hectares
23,NaN,NaN,NaN,UF,Santa Catarina,665548,Hectares,664795,Hectares,688980,Hectares
24,NaN,NaN,NaN,UF,Rio Grande do Sul,5843533,Hectares,5996371,Hectares,6107620,Hectares
25,NaN,NaN,NaN,UF,Mato Grosso do Sul,2882107,Hectares,3121522,Hectares,3377042,Hectares
26,NaN,NaN,NaN,UF,Mato Grosso,9724213,Hectares,9989649,Hectares,10461712,Hectares
27,NaN,NaN,NaN,UF,Goiás,3402810,Hectares,3577700,Hectares,3855277,Hectares
28,NaN,NaN,NaN,UF,Distrito Federal,75000,Hectares,74500,Hectares,80000,Hectares

In [135]:
# Converte para Excel para finalizar a analise em uma planilha mais leve e mais organizada
df_final1.to_excel('analise final1.xlsx')